@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 8px 24px rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 88px;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 32px;
    padding-top: 16px;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 45px;
    padding-bottom: 32px;
    text-transform: uppercase;
}

.btn{
    margin-top: 16px;
    display: inline-block;
    font-size: 16px;
    color:#fff;
    background: var(--black);
    border-radius: 8px;
    cursor: pointer;
    padding:10px 30px;
}

.btn:hover{
    background: var(--green);
    letter-spacing: 2px;
}

header{
    position: fixed;
    top:0; 
    left: 0; 
    right:0;
    background: #fff;
    padding:16px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 40px;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 20px;
    border-radius: 8px;
    padding:8px 24px;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 8px;
    height: 45px;
    line-height: 45px;
    width:45px;
    text-align: center;
    font-size: 20px;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; 
    left:0; 
    height:100%; 
    width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 16px;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:500px;
    border-bottom: 1px solid #fff;
    padding:5px 0;
    color:#fff;
    font-size: 35px;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 35px;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 25px; 
    right:30px;
    font-size: 40px;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:35px; 
    padding-top: 140px;
}

.home .home-slider .slide .content{
    flex:1 1 250px;
}

.home .home-slider .slide .image{
    flex:1 1 250px;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 30px;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 45px;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 18px;
    padding:8px 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.dishes .box-container .box{
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 24px;
    background: #eee;
    height: 35px;
    width: 35px;
    line-height: 1.5;
    font-size: 22px;
    color: var(--black);
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color: #fff;
}
.dishes .box-container .box .fa-heart {
    right: -40px;
}
.dishes .box-container .box .fa-eye {
    left: -40px;
}
.dishes .box-container .box:hover .fa-heart {
    right: 24px;
}
.dishes .box-container .box:hover .fa-eye {
    left: 24px;
}
.dishes .box-container .box  img{
    height: 170px;
    margin: 16px 0;

}
.dishes .box-container .box h3{
    color: var(--black);
    font-size: 22px;
}
.dishes .box-container .box .stars{
    padding: 16px 0;

}
.dishes .box-container .box .stars i{
    font-size: 18px;
    color: var(--green);
}
.dishes .box-container .box  span{
    color: var(--green);
    font-weight: bold;
    font-size: 24px;
    margin-right: 12px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
}
.about .row .image{
    flex:1 1 250px;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 250px;
}
.about .row .content h3{
    color: var(--black);
    font-size: 45px;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 18px;
    padding:8px 0;
    line-height: 1.5;
}
.about .row .content .icons-container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px 0;
    margin-top: 8px;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1 1 150px;
    padding: 24px 16px;
}
.about .row .content .icons-container .icons i{
    font-size: 28px;
    color: var(--green);
}
.about .row .content .icons-container .icons span{
    font-size: 16px;
    color: var(--green);
}
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.menu .box-container .box {
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image{
    height: 400px;
    width: 100%;
    padding: 25px;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.menu .box-container .box .image .fa-heart{
    position: absolute;
    top: 25px;
    right: 25px;
    background: #eee;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 20px;
    color: var(--black);
    border-radius: 50%;
    text-align: center;
}
.menu .box-container .box .image .fa-heart:hover{
    background: var(--green);
    color: #fff;
}
.menu .box-container .box .image .fa-heart {
    right: -40px;
}

.menu .box-container .box:hover .image .fa-heart {
    right: 24px;
}
.menu .box-container .box .content{
    padding: 32px;
    padding-top: 0;
}
.menu .box-container .box .content h3{
    color: var(--black);
    font-size: 22px;
}
.menu .box-container .box .content p{
    color: var(--light-color);
    font-size: 16px;
    padding: 8px 0;
    line-height: 1.5;
}
.menu .box-container .box .content .stars{
    padding: 16px 0;

}
.menu .box-container .box .content .stars i{
    font-size: 18px;
    color: var(--green);
}
.menu .box-container .box .content  span{
    color: var(--green);
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
}


.review .slide{
    padding: 32px;
    box-shadow: var(--box-shadow);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    position: relative;
}
.review .slide .fa-quote-right{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: #ccc;

}
.review .slide .user{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-bottom: 24px;
}
.review .slide .user img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3{
   color: var(--black);
   font-size: 32px;
   padding-bottom: 8px;
}

.review .slide .user i{
    color: var(--green);
    font-size: 16px;
    padding-bottom: 8px;
 }
 .review .slide p{
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-color);
 }


 .order form{
    max-width: 1140px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    padding: 24px;
    margin: 0 auto;
 }
 .order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .order form .inputBox .input{
    width: 49%;
 }
 .order form .inputBox .input{
    display: block;
    padding: 8px 0;
    font-size: 18px;
    color: var(--light-color);
 }
 .order form .inputBox .input input,
 .order form .inputBox .input textarea{
    background: #eee;
    border-radius: 8px;
    padding: 16px;
    font-size: 18px;
    color: var(--black);
    margin-bottom:10px;
    width: 100%;
 }
 .order form .inputBox .input input:focus,
 .order form .inputBox .input textarea:focus{
    border: 1px solid var(--green);
 }
 .order form .inputBox .input textarea{
    height: 180px;
    resize: none;
 }

 .order form .btn{
    margin-top: 0;
 }


 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:24px;
 }
 .footer .box-container .box{
    padding: 8px 0;
    font-size: 20px;
    color: var(--black);
 }
 .footer .box-container .box a{
    display: block;
    padding: 8px 0;
    font-size: 16px;
    color: var(--light-color);
 }
 .footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
 }
 .footer  .credit{
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 20px;
    color: var(--black);
    padding: 8px;
    padding-top: 16px;
    margin-top: 16px;
 }
 .footer  .credit span{
    color: var(--green);
 }


 .loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }
 .loader-container img{
    width: 360px;
 }
 .loader-container.fade-out{
    top: 110%;
    opacity: 0;
 }
/* media queries  */

@media (max-width:980px){

    html{
        font-size: 45%;
    }
    
    header{
        padding:10px 20px;
    }

    section{
        padding:30px;
    }
    .dishes .box-container,
    .menu .box-container,
    .footer .box-container{
        grid-template-columns: repeat(2, 1fr);

    }
    .dishes .box-container .box  img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
     }
   


}

@media (max-width:1190px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; 
        left:0; 
        right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 35%;
    }
    header .logo{
        font-size: 18px; 
    }
    header .icons i,header .icons a{
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        width:25px;
    }
    .heading{
        font-size: 30px;
    }

    .order form .inputBox .input{
        width:100%;
    }
    .about .row .content h3{
        font-size: 30px;
    }
    .dishes .box-container,
    .menu .box-container{
        grid-template-columns: 1fr;
    }
    .dishes .box-container .box  img{
        height: auto;
        width: 100%;
        
    }


}

